.index_container {
  padding: 20px;
  .form_wrapper {
    padding: 40px;
    border-radius: 30px;
    p {
      padding-left: 30px;
      padding-bottom: 20px;
      background: rgb(252, 249, 249);
      background: linear-gradient(
        255deg,
        rgba(252, 249, 249, 1) 0%,
        rgba(138, 125, 183, 1) 31%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    background: linear-gradient(
      255deg,
      rgba(14, 13, 16, 1) 6%,
      rgba(36, 32, 49, 1) 36%,
      rgba(37, 33, 51, 1) 50%,
      rgba(35, 31, 48, 1) 81%,
      rgba(14, 13, 16, 1) 98%,
      rgba(9, 9, 9, 1) 100%
    );
    .name_feild {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      h1 {
        font-family: var(--font-family);
        font-size: 30px;
        padding: 30px;
        padding-right: 99px;
        background: rgb(252, 249, 249);
        background: linear-gradient(
          255deg,
          rgba(252, 249, 249, 1) 0%,
          rgba(138, 125, 183, 1) 31%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
      input {
        background-color: #2f2c41;
        border: 1px solid #ffff;
        border-radius: 8px;
        height: 52px;
        color: #ffff;
        font-size: 20px;
        width: 332px;
        padding-left: 8px;
      }
    }

    .selector_wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      h1 {
        font-family: var(--font-family);
        font-size: 30px;
        padding: 30px;
        padding-right: 50px;
        background: rgb(252, 249, 249);
        background: linear-gradient(
          255deg,
          rgba(252, 249, 249, 1) 0%,
          rgba(138, 125, 183, 1) 31%
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
      select {
        background-color: #2f2c41;
        border: 1px solid #ffff;
        border-radius: 8px;
        height: 52px;
        color: #ffff;
        height: 50%;
        width: 50%;
        font-size: 20px;
        width: 332px;
        padding-left: 8px;
      }
    }
  }

  .check_box_wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 30px;
    h1 {
      font-family: var(--font-family);
      font-size: 30px;
      padding: 30px;
      padding-right: 50px;
      background: rgb(252, 249, 249);
      background: linear-gradient(
        255deg,
        rgba(252, 249, 249, 1) 0%,
        rgba(138, 125, 183, 1) 31%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  .submit_button {
    padding-left: 30px;
    p {
      font-size: 20px;
      color: #ffff;
    }
    button {
      padding-right: 60px;
      padding-left: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid #c0b8e9;
      background: rgb(138, 125, 183);
      background: linear-gradient(
        74deg,
        rgba(138, 125, 183, 1) 67%,
        rgba(252, 249, 249, 1) 98%
      );
      color: rgb(4, 4, 4);
      font-family: var(--font-family);
      font-size: 12px;
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .index_container {
    .form_wrapper {
      padding: 30px;
      padding-top: 50px;

      p {
        padding-left: 0px;
        padding-bottom: 40px;
      }
      .name_feild {
        display: block;

        padding-bottom: 40px;
        h1 {
          padding: 0px;
          font-size: 20px;
          padding-top: 20px;
          padding-right: 0px;
          padding-bottom: 10px;
        }
        input {
          height: 30px;
          font-size: 20px;
          width: 250px;
          padding-left: 0px;
        }
      }

      .selector_wrapper {
        display: block;
        padding-bottom: 20px;
        h1 {
          font-family: var(--font-family);
          font-size: 20px;
          padding: 0px;
          padding-bottom: 20px;
          padding-right: 0px;
        }
        select {
          height: 300px;
          font-size: 20px;
          width: 275px;
          padding-left: 0px;
        }
      }
    }

    .check_box_wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      padding-left: 0px;
      h1 {
        font-family: var(--font-family);
        font-size: 20px;
      }
    }
    .submit_button {
      padding-left: 0px;
      button {
        border-radius: 30px;
        padding-right: 120px;
        padding-left: 120px;
        margin-bottom: 20px;
        margin-right: 0px;
      }
    }
  }
}
